<nav>
    <ul class="nav-list">
        <li style="margin-right: 2.5%;"><a href="#home">home</a></li>
        <li style="margin-right: 2.5%;"><a href="#work">work</a></li>
        <li style="margin-right: 2.5%;"><a href="#projects">projects</a></li>
        <li><a href="#contact">contact</a></li>
    </ul>
</nav>

<app-home id="home"></app-home>
<app-work id="work"></app-work>
<app-projects id="projects"></app-projects>
<app-contact id="contact"></app-contact>

<!-- <router-outlet></router-outlet> -->
