<div class="content">
    <div class="menu-margin"></div>
    <h1>Let's <span>connect</span>!</h1>
    <p>
        I always love meeting new people. Connect with me through the links below. 
    </p>
    <ul class="social-list">
        <li>
            <a href="mailto:cadenmfelton@gmail.com">
                <img class="social-icon" src="assets/img/email.png" alt="Email" />
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/cadenfelton/">
                <img class="social-icon" src="assets/img/linkedin.png" alt="LinkedIn" />
            </a>
        </li>
        <li>
            <a href="https://github.com/queden">
               <img class="social-icon" src="assets/img/GitHub-Mark-128px.png" alt="GitHub" />
            </a>
        </li>
    </ul>
</div>