#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

nav {
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style-type: none;
}

.nav-list li {
    display: inline;
}

