<div class="content">
    <!--Introduction-->
    <h1 layout-align="center center">Hi, I'm <span>Caden Felton</span>.</h1>
    <section id="intro">
        <p>
      	    I'm a rising sophomore at Vanderbilt University studying Computer Science, Math, and Engineering Management. This summer, I am interning (remotely) at Google 
      	    on the <a href="https://cloud.google.com/edge-tpu">Edge TPU</a> team, as a part of their STEP program.
        </p>
    </section>

    <!--What I'm Up To-->
    <h3>What I'm up to</h3>
	<section id="current-exp">

	<section id="current-exp">
        <h2>What I'm up to</h2>
        <p>
            In case you were wondering, <a href="https://docs.google.com/document/d/1E1ZsgWBANz5nN2NE_pEHd4oZno6PNmhlxZH57yv2l4g/edit?usp=sharing" title="What Caden is up to">here's</a> what I'm up to.
            tl;dr below.
        </p>
        <div class="list-div">
            <ul>
                <li>Remotely working at Google</li>
                <li>Reading (and worrying over) Nick Bostrom's Superintelligence (see my notes <a href="https://docs.google.com/document/d/16rzekbgeXD8EC8OXIuR2csvoC_tfiheSYHuraS1IFZg/edit?usp=sharing">here</a>)</li>
                <li>Spending time with family and friends (masked and 6-feet apart of course)</li>
                <li>Hiking</li>
            </ul>
        </div>
	</section>

    <!--What I Was Up To-->
    <h3>What I was up to</h3>
    <section id="past-exp">
        <p>Things I've done in the past or that are on pause for now.
        <div class='list-div'>
            <ul>
                <li>Getting no sleep at hackathons (HackMIT, HackATL, VandyHacks)</li>
                <li>Interning at MLevel</li>
                <li>Trying to <a href="https://olemolvig.dev/talktoeinstein">talk to Einstein</a></li>
                <li>Hosting my radio show back at campus</li>
                <li>Learning the <a href="https://docs.google.com/document/d/1E1ZsgWBANz5nN2NE_pEHd4oZno6PNmhlxZH57yv2l4g/edit?ts=5ece7b1e#heading=h.24uwhxbr6hyd">steel drums</a></li>
            </ul>
        </div>
    </section>

    <section id="contact">
        <p>I would love to get in touch. Check out the <a routerLink="/contact">contact page</a> for ways to connect.</p>
        <ul>
            <li>Remotely working at Google</li>
            <li>Reading (and worrying over) Nick Bostrom's Superintelligence (see my notes <a href="https://docs.google.com/document/d/16rzekbgeXD8EC8OXIuR2csvoC_tfiheSYHuraS1IFZg/edit?usp=sharing">here</a>)</li>
            <li>Spending time with family and friends (masked and 6-feet apart of course)</li>
            <li>Hiking</li>
            </ul>
	</section>

    <!--What I Was Up To-->
    <section id="past-exp">
        <h2>What I was up to</h2>
        <p>Things I've done in the past or that are on pause for now.
        <ul>
            <li>Getting no sleep at hackathons (HackMIT, HackATL, VandyHacks)</li>
            <li>Interning at MLevel</li>
            <li>Trying to <a href="https://olemolvig.dev/talktoeinstein">talk to Einstein</a></li>
             <li>Hosting my radio show back at campus</li>
                    <li>Learning the <a href="https://docs.google.com/document/d/1E1ZsgWBANz5nN2NE_pEHd4oZno6PNmhlxZH57yv2l4g/edit?ts=5ece7b1e#heading=h.24uwhxbr6hyd">steel drums</a></li>
                </ul>
    </section>
</div>